.Experience_ {
  margin: 2em auto;

  .Experience_item {
    margin: 1em 2em;

    p {
      margin: 0.5em;
      font-weight: bold;
    }

    ul {
      li {
        margin-left: 2rem;
      }
    }
  }
}
